/* h1{
    color: red;
    background-color: black;
}

h2{
    color: #fcb900;
    background-color: black;
} */

/* #heading01{
    color: green;
    background-color: blueviolet;
}

.heading01{
    color: red;
    background-color: black;
} */

.heading01{
    color: red;
    background-color: black;
}
.heding03{
    background-color: blue;
    color: #fff;
}

h1{
    color: red;
    background-color: black;
}

