*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 300px 100px 100px;
    color: rgba(225, 225, 215, 0.768);
    column-gap: 10px;
    row-gap: 10px;
    border: 5px solid blue;
}


.grid-container > div{
    background-color: black;
}